PORT=3000
TORQEN_DB_PATH=./server/db/data/torqen.sqlite
TORQEN_JWT_SECRET=change_me_dev_secret
TORQEN_SESSION_TTL_DAYS=2
TORQEN_RATE_LIMIT_RPM=240
TORQEN_RATE_LIMIT_WINDOW_MS=60000

PTERODACTYL_PANEL_URL=
PTERODACTYL_APPLICATION_KEY=
PTERODACTYL_CLIENT_API_KEY=
