PORT=3000
TRIDENT_DB_PATH=./server/db/data/trident.sqlite
TRIDENT_JWT_SECRET=change_me_dev_secret
TRIDENT_SESSION_TTL_DAYS=2
TRIDENT_RATE_LIMIT_RPM=240
TRIDENT_RATE_LIMIT_WINDOW_MS=60000

PTERODACTYL_PANEL_URL=
PTERODACTYL_APPLICATION_KEY=
PTERODACTYL_CLIENT_API_KEY=